<a href="https://colab.research.google.com/github/BharatXBhalla/Data-Analytics-CDAC/blob/main/Assignments/DA_Assignment5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## For the titanic dataset perform the hypothesis testing to claim that there is a significant difference between  proportions of survived females to that of survived males.

In [1]:
import pandas as pd

In [4]:
df= pd.read_csv("titanic.csv")

In [5]:
df.head()

   PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0            1         0       3  ...   7.2500   NaN         S
1            2         1       1  ...  71.2833   C85         C
2            3         1       3  ...   7.9250   NaN         S
3            4         1       1  ...  53.1000  C123         S
4            5         0       3  ...   8.0500   NaN         S

[5 rows x 12 columns]

In [7]:
survived=df[df["Survived"]==1]

In [8]:
len(df)

891

In [9]:
len(survived)

342

In [16]:
female_proportions = len(survived[survived["Sex"]=="female"])/len(survived)

In [17]:
male_proportions = len(survived[survived["Sex"]=="male"])/len(survived)

In [18]:
female_proportions , male_proportions

(0.6812865497076024, 0.31871345029239767)

In [20]:
n1 = len(survived[survived["Sex"]=="female"])
n2 = len(survived[survived["Sex"]=="male"])

## Z = (p1-p2)/sqrt(pq*(1/n1+1/n2))

In [21]:
import numpy as np
z_val = (female_proportions-male_proportions)/ np.sqrt(female_proportions*male_proportions*(1/n1+1/n2))

In [24]:
from scipy import stats

p_val = (1-stats.norm.cdf(z_val))*2
p_val

2.0119683696862012e-11

## We Reject Null hypothesis that p1=p2